{% extends "adminbase.html" %}
{% block content %}
{% load static %}
<div id="costum_home_div"  class="d-flex flex-column w-100 mx-3 mt-3 ">

  <h5 class="text-center fw-bold py-3">Viewer contact form</h5>
 
   
    <div class="select_table border">
    
        <table id="gallery_table" class="table">
            <thead>
              <tr class="tr">
                <th class="text-capitalize text-center col-1" >id</th>
                <th class="text-capitalize text-center col-2" >Full Name</th>
                <th class="text-capitalize text-center col-2" >Email</th>
                <th class="text-capitalize text-center col-4" >Message</th>
                <th class="text-capitalize text-center col-3" >Submit date</th>
                
                
              </tr>
            </thead>

            <tbody id="tbody">
              {% for data in form %}
              <tr class="tr">

                <td class=" col-1" >
                  <input type="text"  id="samachar_id"  class="samachar_id text-center" name="samachar_id" value="{{data.id}}" readonly>
                </td>
                <td class="text-center  col-2" >
                  <input type="text" name="news_title " id="news_title " class="news_title text-center fw-bold" value="{{data.fullname}}" readonly required></td>

                <td class="  text-center col-2" >

                  {{data.subject}}
                  </td>
                <td class="  text-center scroll_y_contacts_form col-4" >
                  <p class=" gallery_image_upload_date ">{{data.message}}</p></td>

                <td class=" text-center col-3" >
                  {{data.submitDate}}</td>

               
              </tr>
              {% endfor %}
            </tbody>
            
          </table>

    </div>

    
   
</div>
{% endblock %}