{% extends "adminbase.html" %}

{% block content %}
  
  <main class="container-fluid d-flex  mb-4" id="admin_panel_main">
<div id="costum_home_div"  class="d-flex flex-column w-100 mx-3 mt-3 border">

      <div class="title-div d-flex justify-content-between py-3 mx-4">
            <h5 class="card-title text-capitalize fw-bold ">Swiper View</h5>
            <div class="update_icon d-flex gap-4">
              
              <a class="update btn btn-primary  text-white" href="/AdminPanelHomeSwiperAdd/"> Add New</a>
            </div>
          </div>
        <div class="swiper_img_select_table scroll_y100">
          
        
          <table id="table" class="table ">
            <thead>

              <tr>
                <th class="text-center text-capitalize col-1" scope="col ">position</th>
                <th class="text-center text-capitalize col" scope="col-3">title</th>
                <th class="text-center text-capitalize  col-2" scope="col ">Image</th>
                <th class="text-center text-capitalize col-3" scope="col-3 ">Description</th>
                <th class="text-center text-capitalize col-1" scope="col-1">Edit</th>
                {% if category == "admin" %}
                <th class="text-center text-capitalize col-1" scope="col-1">UploadeBy</th>
                {% endif %}
                
                
                
              </tr>


            </thead>

            <tbody id="tbody">
              {% for x in form %}
                <tr class="tr rows" >
      

                
                  <td class="table_form_td swiper-change-td-position  text-capitalize col-1" scope="col-1">
                    
                      <input class="table_form_input_height  text-center fw-bold  border swiper_position col-1" type="number" name="swiper_position" value="{{x.position}}"  required readonly>

                  </td>

                  <td class="table_form_td swiper-change-td-title text-capitalize  col-3" scope="col-3">

                       <textarea class="table_form_input_height swiper_title border  fw-bold text-center" name="swiper_title"  cols="30" rows="2"  required readonly>{{x.title}}</textarea>

                  </td>


                  <td  class="table_form_td text-capitalize  col-2 " scope="col-2">
                    <img  class="swiper_image_link admin_home_swiper_img" src="{{MEDIAL_URL}}{{x.img.url}}" alt="photo" >
                  </td>

                  <td class="table_form_td swiper-change-td-description text-capitalize col-3" scope="col-3">
                       <textarea class="table_form_input_height swiper_description  border " name="swiper_description" maxlength="200" minlength="40" readonly>{{x.desc}} 
                      </textarea>
                  </td>
                  
                  
                  <td class="table_form_td text-capitalize col-1 d-flex gap-1" scope="col-1">

                    <a href="{% url 'AdminPanelHomeSwiperEdit' x.id %}"  id="edit_btn"  class=" edit_btn btn text-dark normal1-hover-effect btn-white d-flex justify-content-center align-items-center ">Edit</a>

                    <a href="{% url 'deleteswiper' x.id %}" id="delete_btn"  class=" delete_btn btn text-danger normal1-hover-effect d-flex justify-content-center align-items-center ">Delete</a>

                  </td>
                  {% if category == "admin" %}
                  <td class="col-1  "><p class="d-flex align-items-center justify-content-center height_100">
                    {{x.uploadby}}</p>
                  </td>
                  {% endif %}
                  
                  
                </tr>
                {% endfor %}

                {% for x in po%}
                <p>{{x}}</p>
                {% endfor %}
            </tbody>
            
            
          </table>
  
        </div>

        
       
        
    </form>
</div>
{% endblock %}
