{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shree Sarbajanik Secondary School</title>
  <!-- favicon  -->
  <link rel="shortcut icon" href="{% static 'assets/img/pngtree-school-logo-png-image_3977360.png'%}"
    type="image/x-icon">



  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/swiper.css' %}">
  <!-- bootstrap css  -->
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <!-- bootstrap icons  -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-icons.css'%}">
  
  <!-- style css  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <!-- utensils css  -->
  <link rel="stylesheet" href="{% static 'assets/css/utensils.css'%}">
  <!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/css/alertify.css'%}"/>
<!-- Default theme -->
<link rel="stylesheet" href="{% static 'assets/css/defaultalertify.css'%}"/>



</head>

<body>

  <div id="main">