{% extends 'base1.html' %}
{% block content %}

<main class="container-fluid height_100vh  d-flex flex-column  align-items-center  justify-content-center" id="admin_main">
    
  <div class="btn ">
    <a id="back_icon" href="/"><i class="bi fs-1 bi-arrow-left-circle-fill"></i></a>
  </div>
  <form id="admin-form" class="rounded bg-primary "  method="post">
    <h4 class="text-capitalize  text-white normal1-hover-effect fw-bold">Forgot password</h4>

    {% csrf_token %}
    {{ form.as_p }}
    <input id="submit" type="submit" class="normal1-hover-effect px-4 py-2 bg-primary text-white heading_buttons_a rounded" value="submit">
  </form>
{% endblock %}
</main>
