{% extends 'base1.html' %}
{% block content %}
<main class="container-fluid height_100vh  d-flex flex-column  align-items-center  justify-content-center" id="">
    
    <div class="btn ">
      <a id="back_icon" href="/"><i class="bi fs-1 bi-arrow-left-circle-fill"></i></a>
    </div>
  <p class="text-info">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p clas="text-secondary">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p> 
</main>
{% endblock %}