

{% extends 'base1.html' %}
{% block content %} 
 <main class="container-fluid height_100vh  d-flex flex-column  align-items-center  justify-content-center" id=""><div class="btn ">
      <a id="back_icon" href="/"><i class="bi fs-1 bi-arrow-left-circle-fill"></i></a>
    </div>
  {% if validlink %}
    
    <form id="admin-form" class="rounded bg-primary"  method="post" style="height: fit-content !important;">
      <h4 class="text-capitalize  text-white normal1-hover-effect fw-bold">Change password</h4>

      <div class="form_inputs text-white">
      {% csrf_token %}
      {{ form.as_p }}
    </div>
      <input id="submit" type="submit" class="normal1-hover-effect px-4 py-2 bg-primary text-white heading_buttons_a rounded" value="submit">
    </form>
  {% else %}
    <p class="text-danger">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</main>
{% endblock %}